{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}افزودن کاربر{% endblock %}

{% block main %}
<div class="container mt-4">
    <h1 class="text-center mb-4">افزودن کاربر جدید</h1>
    <!-- نمایش پیام‌ها -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- فرم افزودن کاربر -->
    <div class="card mb-4">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.password1|as_crispy_field }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ form.groups|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" name="add_user" class="btn btn-success mt-3 w-100">افزودن کاربر</button>
            </form>
        </div>
    </div>
<!-- فرم افزودن گروه جدید -->
<div class="card mt-3">
    <div class="card-body">
        <h2 class="text-center mb-4">افزودن گروه</h2>

        <!-- اضافه کردن گروه -->
        <form method="POST" class="mb-3">
            {% csrf_token %}
            {{ group_form.name|as_crispy_field }}
            <button type="submit" name="add_group" class="btn btn-primary mt-3 w-100">ذخیره گروه</button>
        </form>

        <!-- حذف گروه -->
        <form method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <h2 class="text-center mb-4"> حذف گروه </h2>
                <select name="delete_group_id" class="form-select">
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" name="delete_group" class="btn btn-danger mt-3 w-100">حذف گروه</button>
        </form>
    </div>
</div>

        </div>
    </div>

</div>
{% endblock %}
