{% load humanize %}
{% load custom_filters %}
{% load static %}
{% block main %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;

        }
        html, body {
            direction: rtl;
            text-align: right;
        }

        h2 {
            text-align: center;
            color: #333;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 12px;
            text-align: center;
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        .print-button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .print-button:hover {
            background-color: #0056b3;
        }
    </style>
    <script>
        function printReport() {
            window.print();
        }
    </script>
<body>
    <div class="container">
        <h2>گزارش سفارشات</h2>
        <button class="print-button" onclick="printReport()">پرینت گزارش</button>

        <table>
            <thead>
    <tr>
        <th>نام کاربر</th>
        <th>غذا</th>
        <th>روز سفارش</th>
        <th>تعداد</th>
        <th>قیمت واحد</th>
        <th>قیمت کل</th>
    </tr>
</thead>
<tbody>
    {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.user.username }}</td>
    <td>{{ reservation.food.food_name }}</td>
    <td>{{ reservation.jdate }}</td>
    <td>{{ reservation.quantity }}</td>
    <td>{{ reservation.food.price }}</td>
    <td>{{ reservation.quantity|mul:reservation.food.price }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><strong><b> تعداد کل سفارشات :</b></strong></td>
        <td><strong>{{ total_quantity }}</strong></td>
        <td><strong><b>قیمت کل کاربران : </b></strong></td>
        <td>{{ total_price_all }}</td>
    </tr>
</tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
