{% extends 'base.html' %}
{% load static %}
{% block main %}
<body>
    {% block content %}

            <!-- Menu Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                    </div>
                    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                            <li class="nav-item">
                                <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 {% if day == 'Sat' %} active {% endif %}"  href="{% url 'food_list' 'Sat' %}">
                                    <i class="fa fa-hamburger fa-2x text-primary"></i>
                                    <div class="ps-3">
                                        <small class="text-body">شنبه</small>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="d-flex align-items-center text-start mx-3 pb-3 {% if day == 'Sun' %}active{% endif %}"  href="{% url 'food_list' 'Sun' %}">
                                    <i class="fa fa-hamburger fa-2x text-primary"></i>
                                    <div class="ps-3">
                                        <small class="text-body">یکشنبه</small>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 {% if day == 'Mon' %}active{% endif %}"  href="{% url 'food_list' 'Mon' %}">
                                   <i class="fa fa-hamburger fa-2x text-primary"></i>
                                    <div class="ps-3">
                                        <small class="text-body">دوشنبه</small>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="d-flex align-items-center text-start mx-3 pb-3 {% if day == 'Tue' %}active{% endif %}"  href="{% url 'food_list' 'Tue' %}">
                                    <i class="fa fa-hamburger fa-2x text-primary"></i>
                                    <div class="ps-3">
                                        <small class="text-body">سه شنبه</small>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="d-flex align-items-center text-start mx-3 pb-3 {% if day == 'Wed' %}active{% endif %}"  href="{% url 'food_list' 'Wed' %}">
                                    <i class="fa fa-hamburger fa-2x text-primary"></i>
                                    <div class="ps-3">
                                        <small class="text-body">چهارشنبه</small>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="d-flex align-items-center text-start mx-3 pb-3 {% if day == 'Thu' %}active{% endif %}"  href="{% url 'food_list' 'Thu' %}">
                                    <i class="fa fa-hamburger fa-2x text-primary"></i>
                                    <div class="ps-3">
                                        <small class="text-body">پنجشنبه</small>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="d-flex align-items-center text-start mx-3 pb-3 {% if day == 'Fri' %}active{% endif %}"  href="{% url 'food_list' 'Fri' %}">
                                    <i class="fa fa-hamburger fa-2x text-primary"></i>
                                    <div class="ps-3">
                                        <small class="text-body">جمعه</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade show p-0 active">
                                <div class="row g-4 justify-content-center">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    {% for food in foods %}
                                            <div class="col-lg-10">  
                                                <div class="d-flex align-items-center">  
                                                    <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt="" style="width: 80px;">  
                                                    <div class="w-100 d-flex flex-column text-start ps-4">  
                                                        <h5 class="d-flex justify-content-between border-bottom pb-2 align-items-center">
                                                            <div style="display: flex; align-items: center; gap: 90px;">
                                                                <h3>{{ food.food_name }}</h3>
                                                                <h4>{{ food.jdate }} </h4>
                                                                <h4> {{ food.price }}</h4>
                                                                <input type="number" min="0" value="0" id="quantity-{{ food.slug }}" style="width: 150px; margin: 0 20px;"/>
                                                                <button class="btn btn-primary" onclick="addToCart('{{ food.slug }}', '{{ day }}')">افزودن</button>
                                                            </div>
                                                        </h5>    
                                                    </div>  
                                                </div>  
                                            </div>  
                                        {% endfor %}

                                    </div> 
                                
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->

        <script>
            function addToCart(slug) {
                const quantityInput = document.getElementById(`quantity-${slug}`);
                const quantity = quantityInput ? parseInt(quantityInput.value) : 0;
            
                if (quantity <= 0) {
                    alert("لطفاً مقدار معتبری را وارد کنید!");
                    return; 
                }
            
                const day = document.getElementById('selected-day') ? document.getElementById('selected-day').value : '';
            
                fetch(`/add_to_cart/${slug}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCsrfToken()
                    },
                    body: JSON.stringify({ 'quantity': quantity, 'day': day })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('آیتم با موفقیت به سبد خرید اضافه شد!');
                        document.getElementById('item_count').innerText = data.item_count + " آیتم";
                    } else {
                        alert(data.message || 'خطا در افزودن به سبد خرید!');
                    }
                })
                .catch(error => {
                    console.error('خطا در اتصال به سرور:', error);
                });
            }
            
            function getCsrfToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }
        </script>
        
        

    </html>
    {% endblock %}
    {% endblock %}
