{% extends 'base.html' %}
{% load static %}
{% block main %}
<body>
{% block content %}
      <!-- Navbar & Hero End -->
       <!-- Reservation Start -->
       <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-0">
            <div class="col-md-6 bg-dark d-flex align-items-center">
                <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                    <form method="POST" action="{% url 'login' %}">
                        {% if error %}
                        <p> username or pass is incorrect</p>
                        {% endif %}
                        <h1 class="text-white mb-4">Login</h1>
                        {% csrf_token %}
                        <input type="text" class="form-controlg" placeholder="Last Name" name="username" required>
                        <input type="password" class="form-controlg" placeholder="Password" name="password" required>
                        <button type="submit" class="btn btn-primary w-100 py-3">Login</button>
                    </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>

</html>

{% endblock %}
{% endblock %}