{% extends 'base.html' %}
{% load static %}
{% block main %}
    <style>
        body {
            font-family: 'Nunito', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #28a745; /* رنگ موفقیت */
        }

        a {
            text-decoration: none;
            color: #007bff; /* رنگ لینک */
            font-size: 1.25rem;
            transition: color 0.3s;
        }

        a:hover {
            color: #0056b3; /* رنگ لینک در حالت هاور */
        }

        .success-message {
            background: #ffffff; /* پس‌زمینه سفید */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px; /* حداکثر عرض برای مرکز کردن بهتر */
            width: 100%; /* عرض 100 درصد */
        }
    </style>
</head>

<body>

    {% block content %}

    <div class="success-message">
        <h1>!غذا با موفقیت ثبت شد</h1>
        <a href="{% url 'add_food' %}">برگشت به فرم</a>
    </div>

    
    
    
</body>
</html>
{% endblock %}
{% endblock %}